<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FarmApp | New</title>
    </head>
    <body>
        <h1>商品の新規登録</h1>
        <form action="/farms/<%= id %>/products/" method="post">
            <p>
                <label for="name">商品名 : </label>
                <input type="text" name="name" id="name" placeholder="商品名" />
            </p>
            <p>
                <label for="price">価格 : </label>
                <input
                    type="number"
                    name="price"
                    id="price"
                    placeholder="価格"
                />
            </p>
            <p>
                <label for="category">カテゴリー : </label>
                <select name="category" id="category">
                    <% for (let category of categories) { %>
                    <option value="<%= category %>"><%= category %></option>
                    <% } %>
                </select>
            </p>
            <p><button>登録する</button></p>
        </form>
        <a href="/products/">商品一覧</a>
    </body>
</html>
